
.view-lets-chat-reply td.views-field.views-field-name,
.view-id-endorsement_dashboard td.views-field.views-field-name {
	width: 10%;
	
}

/*.view-lets-chat-reply .views-field-field-letschat-body,*/
.view-id-endorsement_dashboard .views-field-field-endorsement-message {
float: left;
  position: relative;
  min-height: 95px;
  width: 80%;
  margin-left: 1em;
  background: #fbfdfe;
  /* Old browsers */
/*   background: -moz-linear-gradient(top, #fbfdfe 50%, #b2e8fd 100%);
  /* FF3.6+ */
/*   background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fbfdfe), color-stop(100%, #b2e8fd));
  /* Chrome,Safari4+ */
/*   background: -webkit-linear-gradient(top, #fbfdfe 50%, #b2e8fd 100%);
  /* Chrome10+,Safari5.1+ */
/*   background: -o-linear-gradient(top, #fbfdfe 50%, #b2e8fd 100%);
  /* Opera 11.10+ */
/*   background: -ms-linear-gradient(top, #fbfdfe 50%, #b2e8fd 100%);
  /* IE10+ */
/*   background: linear-gradient(to bottom, #fbfdfe 50%, #b2e8fd 100%);
  /* W3C */
/*   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfdfe', endColorstr='#b2e8fd',GradientType=0 );
  /* IE6-9 */
  padding: 10px;
  border: solid 2px #44A4E7;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border: 8px;
  border-radius: 8px;
  line-height: normal;
 /* -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
 /* -moz-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
 /* box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3); */
}

/*.view-lets-chat-reply .views-field-field-letschat-body:before,*/
.view-id-endorsement_dashboard .views-field-field-endorsement-message:before {
  content: "";
  position: absolute;
  top: 40px;
  /* controls vertical position */
  bottom: auto;
  left: -15px;
  /* value = - border-left-width - border-right-width */
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #44A4E7;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}

/* endorsement */
.view-display-id-endorse_dashawesome_mentee_page tr {
 
}

/* separator line */
.view-lets-chat-reply.view-display-id-letschat_reply_entity_view{
  border-top: 1px solid #CACACA;
  margin-top: 15px;
}

/* main padding */
.node-lets-chat{
  padding: 15px 30px;
}

.node-lets-chat .field-name-title-field{
  display: inline-block;
  position: relative;
  top: -50px;
  left: -75px;
  margin-left: 15px;
}

.node-lets-chat .lets-chat-post-date{
  text-align: right;
  color: #BCBCBC;
  display: inline-block;
  position: relative;
  left: 20px;
  top: -15px;
}

.node-lets-chat .field-name-title-field .field-label,
.node-lets-chat .field-name-title-field .field-items{
  display: inline-block;
  font-weight: bold;
}

.view-lets-chat-reply.view-display-id-letschat_reply_entity_view .lets-chat-reply-post-date{
  text-align: right;
  color: #BCBCBC;
}

.flag-flag-reply-inappropriate{
  display: block;
  text-align: right;
}

.lets-chat-name{
  float: left;
  font-weight: bold;
  color: #3399CC;
}

/* remove shadow on reply block */
.node-lets-chat .block{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}