/**
 * @file
 * Block Styling
 */

@import "base";


.block { /* Block wrapper */
  margin-bottom: 1.5em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
    @include block-top;
    
    a {
      color: $font-block-header;
      text-decoration: underline;
    }
  }
  
  ul.menu {
    
  }
}

#block-aggregator-category-1 { /* Block for the latest news items in the first category */
}

#block-aggregator-feed-1 { /* Block for the latest news items in the first feed */
}

#block-block-1 { /* First block created with "Add block" link */
}

#block-blog-recent { /* "Recent blog posts" block */
}

#block-book-navigation { /* "Book navigation" block for the current book's table of contents */
}

#block-comment-recent { /* "Recent comments" block */
}

#block-forum-active { /* "Active forum topics" block */
}

#block-forum-new { /* "New forum topics" block */
}

#block-locale-language { /* Language switcher block */
}

#block-menu-menu-NAME { /* Custom menu block */
}

#block-node-recent { /* "Recent content" block */
}

#block-node-syndicate { /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */
}

#block-poll-recent { /* "Most recent poll" block */
}

#block-profile-author-information { /* "Author information" block for the profile of the page's author */
}

#block-search-form { /* "Search form" block */
}

#block-shortcut-shortcuts { /* "Shortcuts" block */
}

#block-statistics-popular { /* "Popular content" block */
}

#block-system-main-menu { /* "Main menu" block */
}

#block-system-management { /* "Management" block for Drupal management menu */
}

#block-system-navigation { /* "Navigation" block for Drupal navigation menu */
}

#block-system-user-menu { /* "User menu" block for Drupal user menu */
}

#block-system-help { /* "System help" block */
  -webkit-box-shadow: inherit;
  -moz-box-shadow: inherit;
  box-shadow: inherit;
}

#block-system-main { /* "Main page content" block */
}

#block-system-powered-by { /* "Powered by Drupal" block */
}

#block-user-login { /* "User login form" block */
}

#block-user-new { /* "Who's new" block for a list of the newest users */
}

#block-user-online { /* "Who's online" block for a list of the online users */
}

#block-menu-menu-reports,
#block-search-api-sorts-search-sorts,
#block-menu-menu-users,
#block-menu-menu-forums,
#block-menu-menu-content-management,
.page-views {
  ul {
    background-color: $block-bg;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  ul.tabs {
    padding-bottom: 0;
  }
  a:link,
  a:visited {
    color: $font-link;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

#block-nice-menus-1 {
  @include no-block-body;
  margin-bottom: 1.5em;
}
